# Logs / Reports
#logs
*-error.log*
*-debug.log*
report.*.json

# Runtime/Compiled data
#build/Release
pids
*.pid
*.seed
*.lock

# Dependencies
node_modules/*
.npm
.node_repl_history

# Support
.eslintcache
.env
.env.test
.cache
.cache/*
