# Arduino
.development

# PlatformIO
.pio
compile_commands.json

# Jetbrain IDEs
.idea

# VSCode
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/tasks.json

# Runtime Data
build/
.cache/

# mkdocs
site/

# Private
.private/
