# Logs / Reports
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime/Compiled data
build/Release
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/
.npm
.node_repl_history

# Support
.eslintcache
.env
.env.test
.cache
.cache/
