# Common settings that generally should always be used with your language specific settings
#   https://github.com/gitattributes/gitattributes

# NOTE:
#   This file normally isn't needed.
#   But since there are still encoding fuckups this has to be enforced

# Auto detect text files and perform LF normalization
* text=auto

# Force text files to be normalized and converted to LF line endings on checkout
#* text eol=lf

# Force files where line endings should be preserved
*.patch    -text

# GitHub Linguist Overrides
#   https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
*.git*      linguist-vendored
*.as        linguist-vendored
*.txt       linguist-vendored
*.xml       linguist-vendored
*.XML       linguist-vendored
*.yaml      linguist-vendored
*.yml       linguist-vendored
library.*   linguist-vendored

.github/**  linguist-vendored
.trunk/**   linguist-vendored
.vscode/**  linguist-vendored
build/**    linguist-vendored
data/**     linguist-vendored
extras/**   linguist-vendored
script*/**  linguist-vendored

lib/**      linguist-detectable
inc/**      linguist-detectable
include/**  linguist-detectable
src/**      linguist-detectable
test/**     linguist-detectable

docs/**     linguist-documentation
*.md        linguist-documentation

# Exclude directories and files from exporting when generating an archive via git.
# NOTE: Files are still checked into the project.
# NOTE: This config exports the bare minimum (code only)
.git*                   export-ignore
.compile_commands.json  export-ignore
.clang-*                export-ignore
.development            export-ignore
.editorconfig           export-ignore
keywords.txt            export-ignore
library.*               export-ignore
mkdocs.yml              export-ignore

.cache/                 export-ignore
.github/                export-ignore
.pio/                   export-ignore
.trunk/                 export-ignore
.vscode/                export-ignore
build/                  export-ignore
docs/                   export-ignore
script*/                export-ignore
site/                   export-ignore
test/                   export-ignore

# Enable syntax highlighting for some files as an example.
*.svd    linguist-language=xml
*.SVD    linguist-language=xml

# Firmware
*.bin    binary
*.seb    binary
*.sec    binary

# Sources
*.c     text diff=cpp
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.cpi   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=cpp
*.h++   text diff=cpp
*.hh    text diff=cpp
*.lua   text diff=lua
*.as    text diff=ActionScript
*.hex   text

# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary
# Precompiled Headers
*.gch   binary
*.pch   binary
# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary
# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary
# Executables
*.exe   binary
*.out   binary
*.app   binary

# Documents
*.docx     binary
*.DOCX     binary
*.xlsx     binary
*.XLSX     binary
*.pdf      binary
*.PDF      binary
*.md       text diff=markdown
*.mdx      text diff=markdown
*.tex      text diff=tex
*.adoc     text
*.textile  text
*.mustache text
*.csv      text
*.tab      text
*.tsv      text
*.txt      text
*.svd      text diff=xml
*.SVD      text diff=xml

# Graphics
*.png      binary
*.PNG      binary
*.jpg      binary
*.jpeg     binary
*.JPG      binary
*.JPEG     binary
*.gif      binary
*.tif      binary
*.tiff     binary
*.ico      binary
# SVG treated as text by default.
*.svg      text
*.pdn      binary
*.psd      binary

# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.ksh      text eol=lf
*.sh       text eol=lf
*.zsh      text eol=lf
# Declare explicitly windows files with CRLF on checkout.
*.ps1      text eol=lf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.bat      text eol=crlf
*.sln      text eol=crlf

# Serialization
*.json     text
*.toml     text
*.xml      text
*.XML      text
*.yaml     text
*.yml      text

# Archives
*.7z       binary
*.bz       binary
*.bz2      binary
*.bzip2    binary
*.gz       binary
*.lz       binary
*.lzma     binary
*.rar      binary
*.tar      binary
*.taz      binary
*.tbz      binary
*.tbz2     binary
*.tgz      binary
*.tlz      binary
*.txz      binary
*.xz       binary
*.Z        binary
*.zip      binary
*.zst      binary

# Python
# Source files
*.pxd    text diff=python
*.py     text diff=python
*.py3    text diff=python
*.pyw    text diff=python
*.pyx    text diff=python
*.pyz    text diff=python
*.pyi    text diff=python
# Binary files
*.db     binary export-ignore
*.p      binary export-ignore
*.pkl    binary export-ignore
*.pickle binary export-ignore
*.pyc    binary export-ignore
*.pyo    binary export-ignore
*.pyd    binary export-ignore
# Jupyter notebook
*.ipynb  text eol=lf
